#economy_title{
    width: 100%;
    text-align: center;
    background-color: antiquewhite;
    margin: 2em auto;
    padding: 2em 5em;
}

#economy_title h2{
    font-weight: 900;
}

#newsDiv{
    width: 80%;
    margin:0 auto;
    background-color: antiquewhite;
    text-align: center;
}

#newsDiv .newsitem{            
    width: 20%;
    margin:2em 1.5em;
    text-align: center;

}

#newsDiv .newsitem:hover{
    transform: scale(1.1);
    transition: transform 1s ease;
}

.news_img{
    width: 100%;
    height: 70%;
}
.news_img img{
    height: 100%;
}

.newsitem .news_title{
    font-size: 1em;
    font-family: sans-serif;
    padding: 0.5em 0;
}