#theme{
    width: 100%;
    height: calc(100vh - 100%);
    background-color: var(--alpha);
    margin: 3em 0;
    position: relative;
}
.img .push{
    width: 100%;
    height: 100%;
    background-color: var(--alpha);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    padding-top: 15%;
    padding-left: 5em;
    color: #fff;
    line-height: 2.5em;
    text-shadow: 2px 2px 2px var(--contact);
    font-weight: 900;
}

.slide{
    width: 100%;
    height: 100%;
    min-height: 450px;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}

.slide .img{
    
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    animation: sliding 25s linear infinite;
}

.slide .img:nth-of-type(1){
    background-image: url(https://picsum.photos/800/800?random=1);
}
.slide .img:nth-of-type(2){
    background-image: url(https://picsum.photos/800/800?random=2);
    animation-delay: 5s;        
}
.slide .img:nth-of-type(3){
    background-image: url(https://picsum.photos/800/800?random=3); 
    animation-delay: 10s;
}
.slide .img:nth-of-type(4){
    background-image: url(https://picsum.photos/800/800?random=4);
    animation-delay: 15s;        
}
.slide .img:nth-of-type(5){
    background-image: url(https://picsum.photos/800/800?random=5);
    animation-delay: 20s; 
}


@keyframes sliding {
    0%{
        transform: translateX(100%);
        z-index: 6;
    }
    4%{
        transform: translateX(0);
        z-index: 6;
    }
    20%{
        transform: translateX(0);
        z-index: 6;
    }
    24%{
        transform: translateX(-100%);
        z-index: 6;
    }
    25%{
        transform: translateX(-100%);
        z-index: 1;
    }
}