html, body, header, footer, aside, main, article, menu, nav, p, a, b, i, u, h1, h2, h3, h4, h5, h6, div, span, img, table, ul, li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: "Noto Sans TC", sans-serif;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    width: 100%;
    vertical-align: bottom;
}

/* 其他資訊導覽列 */
#otherDiv{
    position: absolute;
    bottom: 0;
    left: 0;

}


/* 輪播圖 */
#theme{
    width: 70%;
    /* height: calc(100vh - 100%); */
    /* height: 50vh; */
    background-color: var(--alpha);
    margin: 2em auto;
    position: relative;
}
.img .push{
    width: 50%;
    background-color: var(--alpha);
    position: absolute;        
    bottom: 3em;
    left: 5em;
    z-index: 8;
    color: var(--bs-light);
    line-height: 2.5em;
    text-shadow: 2px 2px 2px var(--contact);
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5em;

    

}
.img .push:hover{
    transform: scale(1.2);
    transform-origin: center;
    transition: transform 0.5s ease;
}

#theme .slide{
    width: 100%;
    /* height: 100%; */
    min-height: 450px;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}

#theme .slide .img{
    
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    animation: sliding 25s linear infinite;
}

/* 首頁隨機文章 */
#random_news{
    width: 100%;
    background-color: antiquewhite;
}

#random_news .news{
    width: 75%;
    height: 20vh;
    margin: 1em auto;
    /* background-color: red; */
}

.news .news_title{
    width: 75%;
    height: 100%;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
    justify-content: flex-start;
}

.news .news_title h2{
    line-height: 3.5em;
}

.news .news_img{
    width: 25%;
    height: 100%;
}

/* #random_news .news_title{
    width: 40%;
    height: 5em;
}

#random_news .news_img{
    width: 30%;
    height: 5em;
} */

.news .news_img img{
    height: 100%;
    background-position: center;
    background-size: cover;

}





#theme .slide .img:nth-of-type(1){
    background-image: url(https://picsum.photos/800/800?random=1);
}
#theme .slide .img:nth-of-type(2){
    background-image: url(https://picsum.photos/800/800?random=2);
    animation-delay: 5s;        
}
#theme .slide .img:nth-of-type(3){
    background-image: url(https://picsum.photos/800/800?random=3); 
    animation-delay: 10s;
}
#theme .slide .img:nth-of-type(4){
    background-image: url(https://picsum.photos/800/800?random=4);
    animation-delay: 15s;        
}
#theme .slide .img:nth-of-type(5){
    background-image: url(https://picsum.photos/800/800?random=5);
    animation-delay: 20s; 
}


@keyframes sliding {
    0%{
        transform: translateX(100%);
        z-index: 6;
    }
    4%{
        transform: translateX(0);
        z-index: 6;
    }
    20%{
        transform: translateX(0);
        z-index: 6;
    }
    24%{
        transform: translateX(-100%);
        z-index: 6;
    }
    25%{
        transform: translateX(-100%);
        z-index: 1;
    }
}




@media only screen and (min-width: 2000px) {

    /* 首頁隨機文章 */
    #random_news{
        width: 80%;
        margin: 1em auto;
        background-color: antiquewhite;
        display: flex;
        flex-wrap: wrap;
    }

    #random_news .news{
        width: 40%;
        height: 20vh;
        margin: 1em auto;
        /* background-color: red; */
    }

    .news .news_title{
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
    }

    .news .news_title h2{
        line-height: 1.5em;
    }

    .news .news_img{
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

    /* #random_news .news_title{
        width: 40%;
        height: 5em;
    }

    #random_news .news_img{
        width: 30%;
        height: 5em;
    } */

    .news .news_img img{
        height: 100%;
        background-position: center;
        background-size: cover;

    }

}
