{% extends 'base.html' %}

{% block title %}
Crack | 關於我們
{% endblock %}

{% block content %}
    <div class="web_title">
        <h2>關於我們</h2>
    </div>
    <div id="about_us">

        <p>
            1960 年代台灣整體經濟快速成長， 1970 年代台灣平均經濟成長率高達10.2% ，到了1980 年代則為8.1% 。 這段經濟起飛的階段，稱為「台灣經濟奇蹟」，並與新加坡、香港和韓國稱為「亞洲四小龍」。
        </p>

        <p>
            之後伴隨科技熱潮，媒體多工已成為日常，資訊的即時對新一代年輕人的未來創造更多的可能，同時也面臨各種誘惑。資訊的碎片化也造成我們的注意力不夠專注。關於"年輕人不容易"的議題熱度卻不減，買不起房、月光族、即時享樂、負債人生等等名詞，也成為年輕人擺脫不了的標籤，茫然、焦慮，對前景的不確定感高，"不知道要什麼"已成為年輕人普遍狀態。
        </p>

        <p>
	        為了進一步了解，60年代的繁榮，與90年代年輕人艱辛發生的其差異，我們將其影響之相關數據製成圖表化，探究其實質的變化。除了讓數據圖表化，能直觀地觀察到身邊的變化外，也統整一些相關刊物與文章供使用者作參考的討論網頁。
        </p>
        


    </div>
{% endblock %}