{% extends 'base.html' %}

{% block title %}
關於我們
{% endblock %}



{% block content %}
    <div class="web_title">
        <h2>成員</h2>
    </div>
    <div id="about_us">

        <div id="member_inner" class="flex">

            <div class="memberDiv">
                <img src="https://picsum.photos/id/237/200/300" alt="">
                
                <div class="member_Introduction">                    
                    <p>成員名稱</p>
                    <p class="introduction">
                        自我介紹:
                        股份有限公司億元這次一對你的簡歷，過程行情在這激動這一點引起遊客，衛生資金婦女，忍不住彷彿不到那時，由此幫忙是什麼驚人一片我一唯一，記錄不久都是來電不好不能下載選項這次專家顧客的說過來，房東神秘表示也就淡淡大賽停止現場的是以下，中港路家庭交通說了相信，成。
                    </p>
                </div>
            </div>
            <div class="memberDiv">
                <img src="https://picsum.photos/id/237/200/300" alt="">
                
                <div class="member_Introduction">                    
                    <p>成員名稱</p>
                    <p class="introduction">
                        自我介紹:
                        股份有限公司億元這次一對你的簡歷，過程行情在這激動這一點引起遊客，衛生資金婦女，忍不住彷彿不到那時，由此幫忙是什麼驚人一片我一唯一，記錄不久都是來電不好不能下載選項這次專家顧客的說過來，房東神秘表示也就淡淡大賽停止現場的是以下，中港路家庭交通說了相信，成。
                    </p>
                </div>
            </div>
            <div class="memberDiv">
                <img src="https://picsum.photos/id/237/200/300" alt="">
                
                <div class="member_Introduction">                    
                    <p>成員名稱</p>
                    <p class="introduction">
                        自我介紹:
                        股份有限公司億元這次一對你的簡歷，過程行情在這激動這一點引起遊客，衛生資金婦女，忍不住彷彿不到那時，由此幫忙是什麼驚人一片我一唯一，記錄不久都是來電不好不能下載選項這次專家顧客的說過來，房東神秘表示也就淡淡大賽停止現場的是以下，中港路家庭交通說了相信，成。
                    </p>
                </div>
            </div>
            <div class="memberDiv">
                <img src="https://picsum.photos/id/237/200/300" alt="">
                
                <div class="member_Introduction">                    
                    <p>成員名稱</p>
                    <p class="introduction">
                        自我介紹:
                        股份有限公司億元這次一對你的簡歷，過程行情在這激動這一點引起遊客，衛生資金婦女，忍不住彷彿不到那時，由此幫忙是什麼驚人一片我一唯一，記錄不久都是來電不好不能下載選項這次專家顧客的說過來，房東神秘表示也就淡淡大賽停止現場的是以下，中港路家庭交通說了相信，成。
                    </p>
                </div>
            </div>
            <div class="memberDiv">
                <img src="https://picsum.photos/id/237/200/300" alt="">
                
                <div class="member_Introduction">                    
                    <p>成員名稱</p>
                    <p class="introduction">
                        自我介紹:
                        股份有限公司億元這次一對你的簡歷，過程行情在這激動這一點引起遊客，衛生資金婦女，忍不住彷彿不到那時，由此幫忙是什麼驚人一片我一唯一，記錄不久都是來電不好不能下載選項這次專家顧客的說過來，房東神秘表示也就淡淡大賽停止現場的是以下，中港路家庭交通說了相信，成。
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}