{% extends 'base.html' %}

{% block title %}
聯絡我們
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

<!-- {% block header %}

    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LestvgpAAAAAIINkXNCe_YrrwBRGLT45vc_Mled"></script>  
{% endblock %} -->
{% block content %}



        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">聯絡我們</h3></div>
                                    <div class="card-body">
                                        <form action="{% url 'contactform' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-floating mb-3">
                                                {% if request.session.user_email %}
                                                    <input class="form-control" name="email" type="email" value="{{ request.session.user_email }}" placeholder="name@gmail.com" required/>
                                                {% else %}
                                                    <input class="form-control"  name="email" type="email" value="{{ form_data.email }}" placeholder="name@gmail.com" required/>
                                                {% endif %}
                                                <label for="inputEmail">Email</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="purpose" name="purpose" type="text" placeholder="主旨" required/>
                                                <label for="purpose">主旨</label>
                                            </div>
 
                                            <div class="form-check mb-3 mycontact">
                                                <textarea id="content" name="content" placeholder="請輸入說明..." required></textarea>
   
                                            </div>

                                            
                                            
                                            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                                            <div class="g-recaptcha" data-theme="dark" data-sitekey="6LdMlvkpAAAAAI_jiKAzLnFEmWwufS1LfF_mlvUr"></div>
                                            
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <button class="btn btn-primary" type="submit">送出</button>
         
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

        </div>

        {% block scripts %}

        {% endblock %}
{% endblock %}