{% extends 'base.html' %}
<!-- {% load static %} -->
{% block title %}
經濟新聞網
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/economy.css' %}">
{% endblock %}

{% block content %}

<div id="economy_title">
    <h2>經濟文章</h2>
</div>
<div id="newsDiv" class="flex">
    <a href="#" class="newsitem">
        <div class="news_img">
            <img src="https://picsum.photos/200/300?random=1">
        </div>

        <div class="news_title">
            標題
        </div>
    </a>
    <a href="#" class="newsitem">
        <div class="news_img">
            <img src="https://picsum.photos/200/300?random=2">
        </div>

        <div class="news_title">
            標題
        </div>
    </a>
    <a href="#" class="newsitem">
        <div class="news_img">
            <img src="https://picsum.photos/200/300?random=3">
        </div>

        <div class="news_title">
            標題
        </div>
    </a>
    <a href="#" class="newsitem">
        <div class="news_img">
            <img src="https://picsum.photos/200/300?random=4">
        </div>

        <div class="news_title">
            標題
        </div>
    </a>
    <a href="#" class="newsitem">
        <div class="news_img">
            <img src="https://picsum.photos/200/300?random=5">
        </div>

        <div class="news_title">
            標題
        </div>
    </a>
    <a href="#" class="newsitem">
        <div class="news_img">
            <img src="https://picsum.photos/200/300?random=6">
        </div>

        <div class="news_title">
            標題
        </div>
    </a>
    <a href="#" class="newsitem">
        <div class="news_img">
            <img src="https://picsum.photos/200/300?random=7">
        </div>

        <div class="news_title">
            標題
        </div>
    </a>
    <a href="#" class="newsitem">
        <div class="news_img">
            <img src="https://picsum.photos/200/300?random=8">
        </div>

        <div class="news_title">
            標題
        </div>
    </a>
    <a href="#" class="newsitem">
        <div class="news_img">
            <img src="https://picsum.photos/200/300?random=9">
        </div>

        <div class="news_title">
            標題
        </div>
    </a>
    <a href="#" class="newsitem">
        <div class="news_img">
            <img src="https://picsum.photos/200/300?random=10">
        </div>

        <div class="news_title">
            標題
        </div>
    </a>
    <a href="#" class="newsitem">
        <div class="news_img">
            <img src="https://picsum.photos/200/300?random=11">
        </div>

        <div class="news_title">
            標題
        </div>
    </a>
    <a href="#" class="newsitem">
        <div class="news_img">
            <img src="https://picsum.photos/200/300?random=12">
        </div>

        <div class="news_title">
            標題
        </div>
    </a>

</div>


{% endblock %}