{% extends 'base.html' %}
<!-- {% load static %} -->
{% block title %}
經濟新聞網
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/economy.css' %}">
{% endblock %}

{% block content %}

<div id="economy_title">
    <h2>經濟文章</h2>
</div>
<div id="newsDiv" class="flex">
    {% for row in data %}
        <a href="{{ row.link }}" class="newsitem" target="_blank">
            <div class="news_img">
                <img src="{{ row.imglink }}">
            </div>
            
            <div class="news_title">
                {{ row.title }}
            </div>
            <span>平台: {{row.platform}}</span>
        </a>
    {% endfor %}

</div>


{% endblock %}