{% extends 'base.html' %}
{% load static %}

{% block title %}
Crack | 失業狀況
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/industry.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid px-4">

        <div class="web_title">
            <h2>每年就業與失業數據</h2>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        就業|失業統計圖表
                    </div>
                    <div class="card-body" id="chart"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            
        </div>



        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                各產業就業人口表(千)
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>統計期</th>
                            <th>總人口數(千人)-合計</th>
                            <th>勞動力(千人)-合計</th>
                            <th>勞動力(千人)-男</th>
                            <th>勞動力(千人)-女</th>
                            <th>就業人數(千人)-合計</th>
                            <th>就業人數(千人)-男</th>
                            <th>就業人數(千人)-女</th>
                            <th>失業人數(千人)-合計</th>
                            <th>勞動力參與率(%)-合計</th>
                            <th>勞動力參與率(%)-男</th>
                            <th>勞動力參與率(%)-女</th>
                            <th>就業人口占總人口數(%)-合計</th>
                            <th>失業率(%)-合計</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>統計期</th>
                            <th>總人口數(千人)-合計</th>
                            <th>勞動力(千人)-合計</th>
                            <th>勞動力(千人)-男</th>
                            <th>勞動力(千人)-女</th>
                            <th>就業人數(千人)-合計</th>
                            <th>就業人數(千人)-男</th>
                            <th>就業人數(千人)-女</th>
                            <th>失業人數(千人)-合計</th>
                            <th>勞動力參與率(%)-合計</th>
                            <th>勞動力參與率(%)-男</th>
                            <th>勞動力參與率(%)-女</th>
                            <th>就業人口占總人口數(%)-合計</th>
                            <th>失業率(%)-合計</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        {% for i in context.data %}
                        <tr>
                            <td>{{i.year}}</td>
                            <td>{{i.total_population}}</td>
                            <td>{{i.Laborforce_total}}</td>
                            <td>{{i.Laborforce_male}}</td>
                            <td>{{i.Laborforce_female}}</td>
                            <td>{{i.employedpopulation_total}}</td>
                            <td>{{i.employedpopulation_male}}</td>
                            <td>{{i.employedpopulation_female}}</td>
                            <td>{{i.Numberofunemployed_total}}</td>
                            <td>{{i.laborforceparticipationrate_total}}</td>
                            <td>{{i.laborforceparticipationrate_male}}</td>
                            <td>{{i.laborforceparticipationrate_female}}</td>
                            <td>{{i.EmployedpopulationAsAShareoftotalpopulation}}</td>
                            <td>{{i.unemploymentrate_total}}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

    {% block scripts %}
    <script id="year_xlabels" type="application/json">{{ context.year_xlabels|safe }}</script>

    <script id="employedpopulation_total" type="application/json">{{ context.employedpopulation_total|safe }}</script>
    <script id="Numberofunemployed_total" type="application/json">{{ context.Numberofunemployed_total|safe }}</script>

    <script src="{% static 'assets/demo/humanResources_bar.js' %}"></script>
    {% endblock %}


{% endblock %}