{% extends 'base.html' %}
{% load static %}

{% block title %}
Crack | 首頁
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

    <!-- {% for row in data %}
        #theme .slide .img:nth-of-type( {{forloop.counter}} ){
            background-image: url("{{row.imglink}}");
            animation-delay: {{ forloop.counter0|add:5 }}s;
        }
    {% endfor %} -->

{% endblock %}
{% block content %}

    <!-- 輪播圖 -->
    <div id="theme">
        <div class="slide">
            {% for t in theme_news %}
            <div class="img" title="圖片1">
                <img src="{{t.imglink}}" alt="">
                <div class="push">
                    <h2>
                        {{t.title}}
                    </h2>
                    <a href="{{t.link}}" target="_blank" class="btn-theme">閱讀更多</a>
                </div>
            </div>
            {% endfor %}

            <!-- <div class="img" title="圖片1">
                <div class="push">
                    <h2>
                        隨機文章標題
                    </h2>
                    <p>參考具備一句話世紀醫學下降加快，監督豐。</p>
                    <a href="#" class="btn-theme">閱讀更多</a>
                </div>
            </div> -->
            
            
            <!-- <div class="img" title="圖片2">
                <div class="push">
                    <h2>
                        隨機文章標題
                    </h2>
                    <p>參考具備一句話世紀醫學下降加快，監督豐。</p>
                    <a href="#" class="btn-theme">閱讀更多</a>
                </div>
            </div>
            
            
            <div class="img" title="圖片3">
                <div class="push">
                    <h2>
                        隨機文章標題
                    </h2>
                    <p>參考具備一句話世紀醫學下降加快，監督豐。</p>
                    <a href="#" class="btn-theme">閱讀更多</a>
                </div>
            </div>
            
            
            <div class="img" title="圖片4">
                <div class="push">
                    <h2>
                        隨機文章標題
                    </h2>
                    <p>參考具備一句話世紀醫學下降加快，監督豐。</p>
                    <a href="#" class="btn-theme">閱讀更多</a>
                </div>
            </div>
            
            
            <div class="img" title="圖片5">
                <div class="push">
                    <h2>
                        隨機文章標題
                    </h2>
                    <p>參考具備一句話世紀醫學下降加快，監督豐。</p>
                    <a href="#" class="btn-theme">閱讀更多</a>
                </div>
            </div> -->
            
        </div>


    </div>

    <!-- 首頁隨機文章 -->
    <div id="random_news">
        {% for row in newsdata %}
        <a href="{{ row.link }}" target="_blank" class="news flex">            
            <div class="news_title flex">
                <p>{{row.title}}</p>
            </div>
            <div class="news_img">
                <img src="{{ row.imglink }}" alt="">
            </div>
        </a>
        <hr>
        {% endfor %}
       
    </div>


                
{% endblock %}
{% block scripts %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}