{% extends 'base.html' %}
{% load static %}

{% block title %}
台灣國民經濟歷史指數
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}

<div id="theme">
    <div class="slide">
        <div class="img" title="圖片1">
            <div class="push">
                <h2>
                    隨機文章標題
                </h2>
                <p>參考具備一句話世紀醫學下降加快，監督豐。</p>
                <a href="#" class="btn-theme">閱讀更多</a>
            </div>
        </div>
        <div class="img" title="圖片2">            <div class="push">
                <h2>
                    隨機文章標題
                </h2>
                <p>參考具備一句話世紀醫學下降加快，監督豐。</p>
                <a href="#" class="btn-theme">閱讀更多</a>
            </div></div>
        <div class="img" title="圖片3">            <div class="push">
                <h2>
                    隨機文章標題
                </h2>
                <p>參考具備一句話世紀醫學下降加快，監督豐。</p>
                <a href="#" class="btn-theme">閱讀更多</a>
            </div></div>
        <div class="img" title="圖片4">            <div class="push">
                <h2>
                    隨機文章標題
                </h2>
                <p>參考具備一句話世紀醫學下降加快，監督豐。</p>
                <a href="#" class="btn-theme">閱讀更多</a>
            </div></div>
        <div class="img" title="圖片5">            <div class="push">
                <h2>
                    隨機文章標題
                </h2>
                <p>參考具備一句話世紀醫學下降加快，監督豐。</p>
                <a href="#" class="btn-theme">閱讀更多</a>
            </div></div>
    </div>

    <!-- <div class="push">
        <h2>
            隨機文章標題
        </h2>
        <p>參考具備一句話世紀醫學下降加快，監督豐。</p>
        <a href="#" class="btn-theme">閱讀更多</a>
    </div> -->
</div>

<div id="random_news">
    
</div>


                
{% endblock %}
{% block scripts %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}