{% extends 'base.html' %}

{% block content %}

<h1>{{msg}}</h1>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">會員註冊</h3></div>
                                    <div class="card-body">
                                        <form id="registrationForm" class="register_form" action="{% url 'creatMember' %}" method="post" onsubmit="return checkPwd()">
                                            {% csrf_token %}
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="username" value="{{ form_data.username }}" name="username" type="text" placeholder="使用者名稱" />
                                                <label for="inputEmail">會員名稱</label>
                                            </div>
                                            
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="userEmail" name="email" type="email" value="{{ form_data.userEmail }}" placeholder="name@example.com" />
                                                <label for="inputEmail">Email</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPassword" name="password" type="password" placeholder="Create a password" />
                                                        <label for="inputPassword">密碼</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPasswordConfirm" name="checkpassword" type="password" placeholder="Confirm password" />
                                                        <label for="inputPasswordConfirm">確認密碼</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">註冊</ㄖ></div>
                                            </div>
                                            <!-- <div class="mt-4 mb-0">
                                                <div class="d-grid"><a class="btn btn-primary btn-block" href="login.html">Create Account</a></div>
                                            </div> -->
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="{% url 'login' %}">已擁有帳號? 前往登入</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
           
        </div>



{% block scripts %}
<script>
    
    function checkPwd(){
        var p = document.getElementById("inputPassword").value;
        var p2 = document.getElementById("inputPasswordConfirm").value;

        if (p == p2){
            return true;
            alert("test");
        }else{
            alert("密碼確認錯誤，請重新確認");
            return false;
        }


    }
</script>
{% endblock %}
{% endblock %}