<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- {{data.統計期}} -->
  <!-- <table>
    <tr>
      <th>統計期</th>
      <th>總指數</th>
      
    </tr>

    {% for l, v in combined %}
    <tr>
      <td>{{l}}</td>    
      <td>{{v}}</td>    
    </tr>
    {% endfor %} -->

    <!-- {% for i in data2 %}
      {{i.統計期}}
      {{i.nationalConsumption}}
    {% endfor %} -->

    {{data2}}
</table>    
</body>
</html>